* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  color: white;
  padding: 25px 60px;
}
.cart {
  position: relative;
  background-color: #fff;
  color: #212529;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
}
.cartAmount {
  position: absolute;
  top: -15px;
  /* transform: translateY(-50%); */
  right: -10px;
  /* transform: translateX(-50%); */
  font-size: 16px;
  background-color: red;
  padding: 3px;
  border-radius: 3px;
}
.shop {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}
@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
}
@media (max-width: 550px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
  }
}
.item {
  border: 2px solid #212529;
  border-radius: 4px;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
}
.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
}
i {
  cursor: pointer;
}
.bi-dash,
.bi-plus {
  color: #52751e;
}
.bi-dash:hover,
.bi-plus:hover {
  font-size: 1rem;
}
